<div class="container-mes-voitures">
    <div class="half">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-6">
                  <h5 class="card-title">Mes voitures : </h5>  
              </div>
              <div class="col-md-6" style="text-align:right;">
                <button type="submit" class="btn btn-primary" (click)="openModal(modalContent)">Ajouter</button>  
              </div>
            </div>
        </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover table-voitures" >
                <thead class=" text-primary">
                    <th>Identifiant</th>
                    <th>Marque</th>
                    <th>Model</th>
                    <th>Immatriculation</th>
                </thead>
                <tbody>
                  <tr *ngFor="let vehicule of vehicules" (click)="getReparations(vehicule._id)">
                    <td>{{vehicule._id}}</td>
                    <td>{{vehicule.marque}}</td>
                    <td>{{vehicule.model}}</td>
                    <td>{{vehicule.immatriculation}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
    <div class="half">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Historiques réparations</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>Nom</th>
                  <th>Status</th>
                </thead>
                <tbody>
                  <tr *ngFor="let reparation of reparations" >
                    <td>{{reparation.nom}}</td>
                    <td>{{reparation.status}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
</div>

<ng-template #modalContent let-modal>
  <ngb-modal-backdrop aria-hidden="true" class="modal-backdrop fade show"></ngb-modal-backdrop>
  <div class="modal-header">
    <h4 class="modal-title">Nouvelle voiture : </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-group">
          <label for="exampleInputEmail1">Marque</label>
          <input type="text" class="form-control" [(ngModel)]="newVehicule.marque">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Model</label>
        <input type="text" class="form-control" [(ngModel)]="newVehicule.model">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Immatriculation</label>
        <input type="text" class="form-control" [(ngModel)]="newVehicule.immatriculation">
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" style="color: #51cbce;background: white;" (click)="modal.dismiss('cancel')">Annuler</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Ajouter</button>
  </div>
</ng-template>