.sidebar .sidebar-wrapper{
  overflow-x: hidden;
  height: 100vh;

  .active-pro{
    bottom: 22px;
  }

  .reparer-bar{
    background: #ef8157;
    border-radius: 150px;
    margin: 0.5vw;
    height: 6vh;
    color : black !important;
    p, i{
      color:black!important;
    }
  }

}
